.buttons {
	display: inline;
	float: right;
}

.label {
	color: #b9ab8f;
	font-size: 20px;
	font-weight: bold;
}

.stat-label {
	float:left;
	display: inline;
}

.stat-data {
	position: relative;
	font-weight: bold;
}

table {
	margin: 0px auto;
}